/* pagination */
.grid-pagination {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
  display: block;
  text-align: center;
}

.grid-pagination nav {
  margin: 30px;
}
.grid-pagination nav a {
  color: rgb(253, 167, 47);
  text-decoration: underline;
  font-size: 14px;
  display: inline-block;
  padding: 10px;
}
.grid-pagination nav a[aria-current="page"] {
  text-decoration: none;
  font-weight: 600;
  color: wheat;
  cursor: vertical-text;
}
